---
---

<a href="https://page.line.me/560mkygn">
  <button class="be-my-friend-btn">
    <img
      src="/img/line-round.webp"
      width="30"
      height="30"
      class="line-logo-img"
      alt="LINE logo"
    />
    <span>友だちに追加</span>
  </button>
</a>

<style lang="scss">
  .be-my-friend-btn {
    width: 170px;
    height: 35px;
    cursor: pointer;

    border: none;
    border-radius: 17px;

    font-size: 1em;
    font-weight: 700;
    line-height: 1.1em;
    color: #ffffff;
    background: #06c755;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  a {
    text-decoration: none;
  }
</style>
