@font-face {
  font-family: 'ZenMaruGothic-Regular';
  font-style: normal;
  src: local('ZenMaruGothic-Regular'), url(@/assets/styles/fonts/ZenMaruGothic-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'ZenMaruGothic-Bold';
  font-style: normal;
  src: local('ZenMaruGothic-Bold'), url(@/assets/styles/fonts/ZenMaruGothic-Bold.ttf) format('truetype');
}

