---
---
<footer>
  <a href="/about">
    サービスについて
  </a>
  <a href="/help">
    よくある質問
  </a>
  <a href="/inquiry">
    フィードバック
  </a>
  <br>

  <a href="/terms/tos">
    利用規約
  </a>
  <a href="/terms/privacy">
    プライバシーポリシー
  </a>

  <p>
    Developed by
    <a href="https://raahii.me" target="_blank">raahii</a>.
  </p>
  <p class="credit">
    Special thanks to <br>
    <a
      href="https://www.flaticon.com/free-icons/donation"
      title="donation icons"
    >Donation icons created by Freepik - Flaticon</a>
  </p>
</footer>

<style lang="scsss">
  footer {
    position: sticky;
    margin: 50px 0 30px;

    display: flex;
    align-items: center;
    flex-direction: column;

    .credit {
      font-size: 0.8rem;
      color: gray;
    }
  }
</style>
