---
import Layout from "@/layouts/Layout.astro";
import BeMyFriendButton from "@/components/BeMyFriendButton.astro";

import { siteName } from "@/common.ts";
---

<Layout
  title={siteName}
  description="LINE上ですぐに使えるカップルのための折半アプリ"
  path="/"
>
  <div class="container">
    <section class="gray">
      <img src="/img/logo.webp" width="100" alt="Logo" />
      <h1>haraiai - 払い合い</h1>
      <p class="desc">
        LINE上ですぐに使える <wr></wr> カップルのための折半アプリ
      </p>
      <BeMyFriendButton />
    </section>

    <section id="feature1" class="white feature">
      <h2>LINE上で手軽に使える</h2>
      <p class="desc">
        はじめ方は簡単。<br />
        グループを作って<wbr />相手とharaiaiを追加するだけ。<wbr />
        アプリのインストールや会員登録なしですぐに始められます。
      </p>

      <img src="/img/f1.webp" alt="Feature1" />
    </section>

    <section id="feature2" class="gray feature">
      <h2>支払い金額を自動で折半</h2>
      <p class="desc">
        あとはグループに支払いを記録するだけ。<br />
        haraiaiが自動で折半し、<wbr />支払い総額も教えてくれます。
      </p>

      <img class="feature" src="/img/f2.webp" alt="Feature2" />
    </section>

    <section id="feature3" class="white feature">
      <h2>退屈な精算はもうしない</h2>
      <p class="desc">
        面倒な定期精算をなくして払い合いませんか？<br />
        そんな気持ちが名前に込められています。 <br />
        支払いが少ない側が次は払うことで<wbr
        />総支払い額が釣り合うようにしましょう！
      </p>

      <img src="/img/f3.webp" alt="Feature3" />
    </section>

    <section id="add-friend" class="white">
      <BeMyFriendButton />
    </section>
  </div>
</Layout>

<style lang="scss">
  .container {
    max-width: 100%;
    margin: 0;
    padding: 0;

    margin: 0 auto;
    text-align: center;

    a {
      text-decoration: none;
    }

    .feature {
      height: auto;

      img {
        display: block;
        width: 90%;
        margin: 0 auto;
        max-width: 350px;
      }
    }

    #add-friend {
      padding: 40px 0 0;
      height: 40px;
    }

    section {
      height: 300px;

      padding: 30px 30px;

      &.gray {
        background: #f8fafb;
      }
      &.white {
        background: white;
      }

      p.desc {
        margin-bottom: 30px;
        word-break: keep-all;
      }
    }
  }
</style>
