---
import Layout from "@/layouts/Layout.astro";

const lineBotId = "@560mkygn";
---

<Layout title="お問い合わせ" description="お問い合わせ" path="/inquiry">
  <div class="container">
    <h1>お問い合わせ</h1>
    <p>お問い合わせは 下記のいずれかより受け付けております。</p>
    <ul>
      <li><a href="https://line.me/R/ti/p/@560mkygn">LINE公式アカウント</a></li>
      <li><a href="https://forms.gle/SddZqJYVyHpgNYPz8">Google フォーム</a></li>
    </ul>
  </div>
</Layout>

<style lang="scss">
  a {
    color: black;
  }
</style>
